@tailwind base;
@tailwind components;
@tailwind utilities;

/* boxicons */
@import url('boxicons/css/boxicons.min.css');

body {
  background-color: #eeeff2;
}

.bg-button-pink {
  background-color: #ffbebe85;
}

.bg-gradient-white-blue {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(59,130,246,0.45710784313725494) 100%);
}

.bg-gradient-radial {
  background: rgb(32, 25, 25);
  background: radial-gradient(circle, rgba(255,190,190,1) 0%, rgb(101, 74, 180) 100%);
}

.bg-layout-auth {
  background-color: rgba(101, 74, 180);
}

.test-shadow {
  box-shadow: inset 5px 20px 20px #F6F5F2 ;
}

/* Auth Start */
.bg-auth {
  background: url("/bg-auth.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  border: 3px solid rgba(255, 255, 255, .3);
  backdrop-filter: blur(5px);
}

.col-first {
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(30px);
  border-radius: 20px;
}

.heart-login {
  animation: scale-up 3s ease-in-out alternate infinite;
}

.input-auth {
  background: rgba(3, 3, 3, 0.2);
  backdrop-filter: blur(20px);
} 

.bg-button-auth {
  background-color: rgba(255, 190, 190, .52);
}

@keyframes scale-up {
  to {
    transform: scale(.95);
  }
}