@tailwind base;
@tailwind components;
@tailwind utilities;

/* boxicons */
@import url('boxicons/css/boxicons.min.css');

/* font Bebas Neue */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+IT+Moderna:wght@100..400&display=swap');


.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
} */

body {
  background-color: #eeeff2;
}

.bg-button-pink {
  background-color: rgba(255, 190, 190, .52);
}

.bg-gradient-white-blue {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(59,130,246,0.45710784313725494) 100%);
}

.bg-gradient-radial {
  background: rgb(255,190,190);
  background: radial-gradient(circle, rgba(255,190,190,1) 0%, rgba(101,74,180,1) 100%);
}

/* border bem start */
.box {
  width: 215px;
  height: 158px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: "";
  background-image: conic-gradient(
    #3b82f6 20deg,
    transparent 120deg
  );
  width: 250%;
  height: 200%;
  position: absolute;
  animation: rotate 6s linear infinite ;
}

.box::after {
  content: "";
  width: 207px;
  height: 150px;
  background: white;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b82f6;
  font-size: large;
  letter-spacing: 5px;
  box-shadow: inset 20px 20px 20px #0000008c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* border bem end */

.test-shadow {
  box-shadow: inset 5px 20px 20px #F6F5F2 ;
}